# python 3.10.12
fastapi==0.111.1
fastapi-cli==0.0.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
numpy==1.26.4
#llm
baml==0.19.1
baml-py==0.82.0
baml_core_ffi==0.1.7